.panel.up(data-title="{{ 'edit' | translate }}")

  .fifty
    .in_group(label="{{ 'date' | translate }}")
      input(type='date', ng-model='$e.date', format-date='')
    br
    .in_group(label="{{ 'content' | translate }}")
      textarea(draggable='false', rows='9', required='', ng-model='$e.text')

  .fifty
    p(translate='leave-blank-for-full-class')
    .clear
    multi-select(ng-model='$e.students',
                 object-property='name',
                 api-url='students-list',
                 placeholder="{{'student'|translate}}...",
                 suggestions-arr='')
  .clear

  .panel-footer
    .btn.close(translate='save', ng-click='edit()')

  .discard-btn(ng-click='closePanel()')
