.panel(data-title="{{ 'new' | translate }}")

  h2(translate='date')
  input(type='date', ng-model='$n.date', ng-value='today')

  h2(translate='content')
  textarea(draggable='false', rows='3', required='', ng-model='$n.text')

  .panel-footer
    .btn.close(translate='save', ng-click='add()')

  .discard-btn(ng-click='closePanel()')
