#info-bar(ng-bind="$e.date | date: 'EEEE d MMMM'")

panel(p-name='new', p-bar='false')
panel(p-name='edit')
confirm-removal(msg='del-news')

section
  article
    .right
      .option-btn(data-panel='new')
        icn(n='plus-circle')
        span(translate='add')
    h1(translate='news')
  .container
    no-data(ng-if='!!!data.length')
    article(ng-if='!!data.length')
      table.data_grid
        tr
          td.little
            icn(n='calendar-o')
            sort(by='date')
          td.title(translate='title')
          td
          td.little
          td.little
        tr(ng-repeat='news in data | orderBy:sort[0]:sort[1]',
					 ng-click='select(news)')
          td.little.date
            span(ng-bind="news.date | date: 'd'")
            span(ng-bind="news.date | date: 'MMM'")
          td.title
            b(ng-bind='news.title')
          td.no-align(ng-bind='news.content')
          td.little
            .icon-btn(data-panel='edit')
              tooltip(t='edit')
              icn(n='edit')
          td.little
            .icon-btn.red(data-panel='remove')
              tooltip(t='remove')
              | X
