#info-bar(ng-bind='sel_student.name')

panel(p-name='personal-data')
panel(p-name='contacts')
panel(p-name='random-student', p-bar='false')

section(ng-init="sort=['name',false]")
  article
    .right
      .option-btn(ng-click='showPanel("random-student");getRandomStudent()')
        icn(n='random')
        span(translate='random-student')
    h1(translate='students')
  .container
    no-data(ng-if='!!!data.length')
    article(ng-if='!!data.length')
      table.data_grid
        tr
          td.little
            input(type='text', ng-model='query.id', placeholder='id')
            sort(by='id')
          td.little
          td
            input(type='text',
									ng-model='query.name',
									placeholder="{{ 'name' | translate }}")
            sort(by='name')
          td.little
          td.little
        tr(ng-repeat='student in data\
        | orderBy	:	sort[0]:sort[1]\
        | filter		:	query')
          td.little(ng-bind='student.id')
          td.little
            .avatar(ng-class="{'female': student.sex != 1}")
          td(ng-class='{bday: student.isBday}')
            b(ng-bind='student.name')
          td.little
            .icon-btn(ng-click='showPanel("personal-data");getInfo(student)')
              tooltip(t='personal-data')
              icn(n='info')
          td.little
            .icon-btn.green(ng-click='showPanel("contacts");getContacts(student)')
              tooltip(t='contacts')
              icn(n='phone')
