.panel(data-title="{{ 'permissions' | translate }}")
  .fifty
    .in_group(label="{{ 'admins-management' | translate }}")
      br
      select(ng-model='$e[0].adminsManagement')
        option(value='1', translate='yes')
        option(value='0', translate='no')
    .in_group(label="{{ 'teachers-management' | translate }}")
      br
      select(ng-model='$e[0].teachersManagement')
        option(value='1', translate='yes')
        option(value='0', translate='no')
    .in_group(label="{{ 'students-management' | translate }}")
      br
      select(ng-model='$e[0].studentsManagement')
        option(value='1', translate='yes')
        option(value='0', translate='no')
    .in_group(label="{{ 'classes-management' | translate }}")
      br
      select(ng-model='$e[0].classesManagement')
        option(value='1', translate='yes')
        option(value='0', translate='no')
  .fifty
    .in_group(label="{{ 'taxes-management' | translate }}")
      br
      select(ng-model='$e[0].taxesManagement')
        option(value='1', translate='yes')
        option(value='0', translate='no')
    .in_group(label="{{ 'meetings-management' | translate }}")
      br
      select(ng-model='$e[0].meetingsManagement')
        option(value='1', translate='yes')
        option(value='0', translate='no')
    .in_group(label="{{ 'news-management' | translate }}")
      br
      select(ng-model='$e[0].newsManagement')
        option(value='1', translate='yes')
        option(value='0', translate='no')
    .in_group(label="{{ 'schedule-management' | translate }}")
      br
      select(ng-model='$e[0].scheduleManagement')
        option(value='1', translate='yes')
        option(value='0', translate='no')
  .panel-footer
    .btn.close(translate='save', ng-click='editPermissions()')
