section
  article
    h1(translate='personal-data')
  .container
    article
      .fifty
        h2(translate='info')
        table.list
          tr
            td(translate='birthday')
            td(ng-bind="data.info.birthday | date: 'd MMMM yyyy'")
          tr
            td(translate='birthplace')
            td
              a(href='//google.com/maps/place/{{data.info.birthplace}}', target='_blank')
                span(ng-bind='data.info.birthplace')
          tr
            td(translate='state_of_birth')
            td(ng-bind='data.info.state_of_birth')
          tr
            td(translate='sex')
            td
              icn(n="{{ data.info.sex ? 'male' : 'female' }}")
          tr
            td(translate='tax_code')
            td(ng-bind='data.info.tax_code')
          tr
            td(translate='cap')
            td
              a(href='//google.com/maps/place/{{data.info.cap}}', target='_blank')
                span(ng-bind='data.info.cap')
          tr
            td(translate='address')
            td
              a(href='//google.com/maps/place/{{data.info.address}}', target='_blank')
                span(ng-bind='data.info.address')
          tr
            td(translate='city_of_residence')
            td
              a(href='//google.com/maps/place/{{data.info.city_of_residence}}', target='_blank')
                span(ng-bind='data.info.city_of_residence')
          tr
            td(translate='country')
            td(ng-bind='data.info.country')
      .fifty
        h2(translate='contacts')
        table.list
          tr
            td(translate='email')
            td
              a(href='mailto:{{data.info.email}}', target='_blank')
                span(ng-bind='data.info.email')
          tr
            td(translate='telephone')
            td
              a(href='tel:{{data.info.telephone}}')
                span(ng-bind='data.info.telephone')
          tr
            td(translate='mobile')
            td
              a(href='tel:{{data.info.mobile}}')
                span(ng-bind='data.info.mobile')
        br
        h2(translate='credentials')
        table.list
          tr
            td(translate='school_id')
            td
              span(ng-bind='data.info.school_id')
          tr
            td(translate='user_id')
            td
              span(ng-bind='data.info.user_id')
      .clear
