.panel(data-title="{{ 'edit' | translate }}")

  .in_group(label="{{ 'amount' | translate }}")
    input(type='text',
          ng-model='$e.amount')

  .in_group(label="{{ 'description' | translate }}")
    textarea(draggable='false',
             rows='3',
             ng-model='$e.description')

  .panel-footer
    .btn.close(translate='save', ng-click='edit()')
