.panel(data-title="{{ 'edit' | translate }}")
  .fifty
    .in_group(label="{{ 'name' | translate }}")
      input(type='text', ng-model='$e.name')
  .fifty
  .panel-footer
    .btn.close(translate='save', ng-click='edit()')
    div
